.featured-projects {
  background-color: whitesmoke;

  a { // better class naming here?
    text-decoration: none;
    display: flex;
    width: 31%;
    margin-bottom: 2rem;
  }
  
  h2 {
    font-family: 'Source Sans Pro', Sans-Serif;
    font-size: 40px;
    margin-top: 0;
    padding-top: 2rem;
    color: black;
  }
  
  .featured-project {
    box-shadow: 0px 0px 2px 1px rgba(25,17,34,0.1);
    background-color: white;
    padding: 2rem;
    display: block;
    text-decoration: none;
    border-radius: 10px;
    width: 100%;

    &:hover {
      box-shadow: 0px 0px 2px 1px rgba(6, 120, 190, 0.3);
    }

    .title {
      font-family: 'Overpass', Sans-Serif;
      font-size: 30px;
    }

    .language {
      color: #31373f;
      font-size: 14px;
    }

    .description {
      color: #31373f;
    }

    p {
      font-size: 14px;
      margin-bottom: 0;
    }
  }

}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  // Force left alignment for uneven last row.
  &:after {
    content: '';
    width: 31%;
  }
}