.footer {
  background-color: #064771;
  color: white;
  padding-top: 1.5rem;
  a {
    color: white;
  }
}

.fixed {
  display: none;
  @media screen and (min-width: 64em) {
    display: inline;
    svg {
      z-index: 1000;
    }
  }

  svg {
    position: fixed !important;
  }
}