.link {
  color: white;
}
.list {
  padding: 0;
  float: right;
  display: none;
  @media screen and (min-width: 64em) {
    display: inline;
  }
  a {
    color: white;
    text-decoration: none;
  }
}
.list li {
  display: inline;
  margin-right: 1rem;
}