---
title: Title
description: Description used on list pages.
homepage: https://mystaticproject.com
repository: https://github.com/org/mystaticproject
language: JavaScript
---

Introductory Paragraph. Save this file as 'src/content/projects/project-name.md' and it will be incorporated in the build.

## Using with Drupal

* A description of ways that this tool can be used with data from Drupal.

## Resources

* [A blog post about using this project with Drupal](https://exampleresourcelink.com/) - feel free to also add a descriptin.

## Sites Using Drupal

* https://myprojectsite.com/

